@import "tailwindcss";

@theme {
  --color-primary: #ff4655;
  --color-background: #0f1923;
  --color-foreground: #ece8e1;
  --color-accent: #292929;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-barlow);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
  font-weight: 700;
  @apply uppercase tracking-wide;
}

@layer components {
  .nav-link {
    @apply w-[25vw] sm:w-[25vh] py-2 sm:py-[1rem] text-center tracking-wide text-background uppercase text-lg sm:text-2xl border-l border-r border-background;
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-oswald), sans-serif;
  }

  .font-body {
    font-family: var(--font-barlow), sans-serif;
  }

  .input-field {
    @apply mb-4 text-lg w-full px-4 py-2 border-2 border-background text-background  focus:outline-none focus:border-foreground;
  }

  .skills-section {
    @apply flex flex-wrap gap-5 px-2 py-3 
      bg-primary;
  }
}
